<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Portfolio</title>
  </head>
  <body>
    <section class="profile">
      <div class="profile-container">
        <div class="portrait"></div>
        <div class="about-me">
          <h1>About Me</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint
            consequatur inventore debitis libero, officiis, ducimus magnam
            doloremque numquam dignissimos voluptatum, quas blanditiis natus.
            Nihil porro illo ipsa cumque enim ex sit facere, alias similique
            voluptatibus unde quidem ea optio necessitatibus amet? Officia,
            eius, sunt itaque praesentium neque nulla optio voluptatibus
            expedita cumque dicta, inventore ipsum adipisci esse reprehenderit
            delectus? Nobis alias veniam porro officiis ipsam fugiat nemo
            tenetur, minus, ea id, tempore ipsa! Quasi magnam repellendus nisi
            repudiandae fugit, expedita quas iste sequi, adipisci aliquid eius
            aliquam deserunt non quisquam! Totam possimus earum sint dolorum
            quas! Illo dolor dicta dignissimos!
          </p>
        </div>
      </div>
    </section>
    <section class="projects">
      <h1>My Work</h1>
      <div class="card-container">
        <div class="card">
          <div class="project-image"></div>
          <div class="project-desc">
            <div class="header">
              <p>Project Title</p>
              <div class="icons">
                <div class="github-icon"></div>
                <div class="demo-icon"></div>
              </div>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit
              voluptatem vel veniam obcaecati ratione provident, non iusto earum
              iure accusantium.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="project-image"></div>
          <div class="project-desc">
            <div class="header">
              <p>Project Title</p>
              <div class="icons">
                <div class="github-icon"></div>
                <div class="demo-icon"></div>
              </div>
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit
              voluptatem vel veniam obcaecati ratione provident, non iusto earum
              iure accusantium.
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <h1>Contact Me</h1>
      <div class="contact-container">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
          provident inventore. Fugiat quod beatae incidunt earum ipsam ipsa
          blanditiis accusamus.
        </p>
        <p>Jalan Asli Bukan Tipu-tipu No.1 Jakarta, Indonesia 11111</p>
        <p>123-456-7890</p>
        <p>email_asli@gmail.com</p>
      </div>
      <div class="icons">
        <div class="github-icon"></div>
        <div class="email-icon"></div>
        <div class="whatsapp-icon"></div>
      </div>
    </footer>
  </body>
</html>
