* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.profile {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 85%;
}

.portrait {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px black solid;
  background-color: lightgray;
  min-width: 300px;
  min-height: 450px;
}

.about-me {
  border: 2px black solid;
  padding: 1rem;
  text-align: justify;
}

.about-me > h1 {
  text-align: center;
}

.projects {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 2rem;
  width: 85%;
}

.card {
  border: 2px black solid;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
  height: 50%;
  flex-shrink: 0;
  background-color: lightgray;
}

.project-image > img {
  width: 100%;
  height: 100%;
}

.project-desc {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.project-desc > .header {
  display: flex;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.icons > div {
  border: 2px black solid;
  width: 40px;
  height: 40px;
}

.icons > div img {
  width: 100%;
  height: 100%;
}

.header > .icons {
  margin-left: auto;
}

.project-desc > .description > p {
  text-align: justify;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

footer {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.contact-container {
  text-align: justify;
  width: 85%;
}

@media (max-width: 280px) {
  .portrait {
    min-width: 200px;
    min-height: 350px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 725px) {
  .profile-container {
    flex-direction: row;
  }

  .about-me {
    max-height: 450px;
  }
}
